#header { background-color: blanchedalmond; padding: 5px; }

body { font-family: Arial, sans-serif; }

#nav { background-color: whitesmoke; padding: 5px;}

#notice { background-color: whitesmoke; }

/* #nav a { text-decoration: none; } */
/* #nav a:hover { color: #666; } */
