{% extends "base.html" %}
{% block content %}
<h1>Home</h1>
<p>I am a researcher in computer vision and machine 
learning with Ph.D in Computing Science, M.Sc in Electronic Engineering 
and B.Sc(Hons.) in Electrical & Electronic Engineering. I am also interested 
in web app development, with experience in various web frameworks including Flask,
Django, & ReactJS.</p>

<div id="notice">
<p>This site might use cookies to provide better web surfing experience for 
visitors. If you continue to use this site, it will be assumed that you agree to 
the use of cookies. The site author can be contacted by email at 
mwong(at)mwongsite.com, replace (at) by @</p>
</div>
{% endblock %}