{% extends "base.html" %} 
{% block content %}
<h2>Privacy Policy</h2>
<h3>Who we are</h3>
<p>This is the personal site of M. Wong. The owner of this site can be contacted via email 
mwong(at)mwongsite.com, replace (at) by @.</p>

<h3>Cookies</h3>
<p>This website might use cookies in order to improve your experience of using the site. If you continue to 
use this site, it will be assumed that you agree to the use of cookies.</p>

<h3>Data collected automatically by access log file</h3>
<p>Like many other websites, the log files of this site will collect the following information automatically 
from the visitors: IP address, browser type, the date and time of access. The information collected can 
be used to understand how the visitors use this site and to improve the web browsing experience of the 
visitors.</p>

<h3>Data collected when visitors contact site author by email</h3>
<p>If you contact the site author by email, your name, email address and other information you provide to the 
site author will be stored in email account of the site author.</p>

<p>The above privacy policy can be changed at any time by the site author without giving notice.</p>

{% endblock %}